body {
  width: 150px;
  padding: 0;
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 5px;
  background-color: rgb(255, 249, 132);
}

.unavailable-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: black;
}

.title {
  margin: 10px 0;
  text-align: center;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.website-name {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.toggle-name {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.on-off-switch-label {
  display: block;
  width: 40px;
  height: 15.5px;
  position: relative;
  transition: 0.5s;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 10px;
  text-align: right;
  color: white;
  background-color: green;
  box-shadow: 0 0 10px #477a8550;
}

.toggle__off {
  background-color: red;
  text-align: left;
}

.on-off-switch-label::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #f7e8e8;
  position: absolute;
  border-radius: 7px;
  top: 1.5px;
  left: 1.5px;
  transition: 0.5s;
}

input[type="checkbox"]:checked + .on-off-switch-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.on-off-switch-label:active:after {
  width: 16px;
}

.grey {
  color: #929292;
}

.blue {
  color: #7BA8BB;
}

.dark-red {
  color: #821038;
}

.green {
  color: #A8B677;
}
